{% extends "layout.html" %}
{% block content %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>文件名</th>
        <th>文件大小</th>
        <th>创建时间</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if files %}
    {% for file in files['value'] %}
    <tr>
        <td><a href="{{ url_for(request.endpoint, uid=uid, drive=drive, org_name=org_name, folder=get_folder(folder, file.name)) if file.folder else 'javascript:void(0);' }}">{{ file.name }}</a></td>
        <td>{{ file_size(file.size) }}</td>
        <td>{{ format_date(file.lastModifiedDateTime) }}</td>
        <td>
            <a href="{{ url_for('delete_file', uid=uid, drive=drive, org_name=org_name, file_id=get_folder(folder, file.name)) }}">删除</a>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% if files and files.get('@odata.nextLink') %}
<div style="padding-bottom: 2rem;"><a style="" href="" class="btn btn-block">more</a></div>
{% endif %}
{% endblock %}