{% extends "layout.html" %}
{% block content %}
<div class="mb-2">
    <button data-href="/{{ account }}/add" class="btn btn-lg ajax-modal">添加帐号</button>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>用户名</th>
        <th>邮箱</th>
        <th>订阅</th>
        <th>角色</th>
        <th>状态</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if users %}
    {% for user in users['value'] %}
    <tr>
        <td>{{ user.displayName }}</td>
        <td>{{ user.userPrincipalName }}</td>
        <td>
           {% for licenses in user['assignedLicenses'] %}
               <span class="chip">{{ get_licenses(licenses['skuId']) }}</span>
           {% endfor %}
        </td>
        <td width="20%">
            {% for member in user['memberOf'] %}
                <span id="{{ member.id }}" class="chip">{{ member.displayName }}</span>
            {% endfor %}
        </td>
        <td><i class="icon {{ 'icon-check text-success' if user.accountEnabled else 'icon-cross text-error' }}"></i></td>
        <td>
            <a class="ajax" data-href="/{{ account }}/{{ user.id }}/{{ 'disabled' if user.accountEnabled else 'enabled' }}" href="javascript:void(0);">{{ '禁用' if user.accountEnabled else '启用' }}</a>
            <a class="ajax" data-href="/{{ account }}/{{ user.id }}/delete" href="javascript:void(0);">删除</a>
{#            <a class="ajax" data-href="/{{ account }}/{{ user.id }}/detail" href="javascript:void(0);">详情</a>#}
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% if users and users.get('@odata.nextLink') %}
<a href="/{{ account }}/page" class="btn btn-lg">下一页</a>
{% endif %}
{% endblock %}