{% extends "layout.html" %}
{% block content %}
<div class="mb-2">
    <button data-href="/{{ org_name }}/add" class="btn btn-lg ajax-modal">添加帐号 {{ g.test }}</button>
</div>
<div style="margin: 1rem 0;">
{% for subscribed in subscribed_list %}
    <p class="chip">{{ subscribed['sku_name'] }} {{ subscribed['units'] }}</p>
{% endfor %}
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>用户名</th>
        <th>邮箱</th>
        <th>订阅</th>
        <th>状态</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% if users %}
    {% for user in users['value'] %}
    <tr>
        <td>{{ user.displayName }}</td>
        <td>{{ user.userPrincipalName }}</td>
        <td>
           {% for licenses in user['assignedLicenses'] %}
               <span class="chip">{{ get_licenses(licenses['skuId']) }}</span>
           {% endfor %}
        </td>
        <td><i class="icon {{ 'icon-check text-success' if user.accountEnabled else 'icon-cross text-error' }}"></i></td>
        <td>
            <a class="ajax" data-href="/{{ org_name }}/{{ user.id }}/{{ 'disabled' if user.accountEnabled else 'enabled' }}" href="javascript:void(0);">{{ '禁用' if user.accountEnabled else '启用' }}</a>
            <a class="ajax" data-href="/{{ org_name }}/{{ user.id }}/delete" href="javascript:void(0);">删除</a>
            <a class="ajax-modal" data-href="/{{ org_name }}/{{ user.id }}/detail" href="javascript:void(0);">详情</a>
            <a href="/{{ org_name }}/{{ user.id }}/files" target="_blank">one drive</a>
            <a href="/{{ org_name }}/{{ user.id }}/sites" target="_blank">sites</a>
        </td>
    </tr>
    {% endfor %}
    {% endif %}
    </tbody>
</table>
{% if users and users.get('@odata.nextLink') %}
<a href="/{{ org_name }}/page" class="btn btn-lg">下一页</a>
{% endif %}
{% endblock %}